/* .main{
   position: relative;
} */

/* .form-body {
   display: none;
   opacity: 0;
   
}
.form-body.active {
   display: block;
   opacity: 1;
   transition: opacity .5s linear;
   -webkit-transition: opacity .5s linear;
   -moz-transition: opacity .5s linear;
   -ms-transition: opacity .5s linear;
   -o-transition: opacity .5s linear;
} */